* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
}

header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link-item {
    font-size: 40px;
    color: #333;
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.link-item:hover {
    transform: scale(1.1);
    color: #0077b5; /* Change color on hover (blue for LinkedIn) */
}

.link-item .fa-instagram {
    color: #e4405f;
}

.link-item .fa-facebook {
    color: #3b5998;
}

.link-item .fa-twitter {
    color: #1da1f2;
}

.link-item .fa-linkedin {
    color: #0077b5;
}
